body {
	background-color: #F0F1F5;
	font-family: 'Lato';
}

input[type="text"] {
	display: block;
	margin: 0;
	width: 100%;
	font-family: 'Lato';
	font-size: 68px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	outline: none;
	background-color: #F0F1F5;
	border: none;
}

#container {
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#button1 {
	display: none;
/*	float: right;
	width: 200px;*/
	font-family: 'Lato';
	border: none;
	font-size: 14px;
	background-color: rgb(158, 218, 229);
}


#button2 {
	display: none;
/*	float: right;
	width: 170px;*/
	font-family: 'Lato';
	border: none;
	font-size: 14px;
	background-color: rgb(158, 218, 229);
}

#mute {
	display: none;
/*	float: right;
	width: 200px;*/
	font-family: 'Lato';
	border: none;
	font-size: 14px;
	background-color: rgb(158, 218, 229);
}

.search {
	margin: 0 auto;
}


#chart {
	font-family: 'Lato'; 
	height: 500px;
	margin: 0 auto;
	padding-right: 50px;
}